{% extends 'blog/home.html' %}
{% block guest %}
<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Mizoram Farmer Helpline</h4>
                </div>
                <div class="card-body">
                    <ol>
                        <li class="card-text" style="font-size: 16px"> Chibai le, Page hnuailam dinglama
                            <b>Chatbot-ah</b>
                            hian ruah tlak dan chungchang han zawt ta che.
                        </li>
                        <li class="card-text" style="font-size: 16px">Mizoram-a cheng, lo nei a eizawng i nih chuan in
                            page
                            chunglam dinglamah hian in <b>Register</b> na a awm hi in register ve ngei ang che. In
                            <b>Register</b> te tan chuan in <b>Login</b> theih a ni a, in <b>Login</b> te tana chhiar
                            theih
                            turin lo neia eizawngte tan hamthatna hrang hrang leh
                            news te hmuh theih a post a ni thin ang.
                        </li>
                    </ol>

                </div>
            </div>
        </div>
    </div>
</div>
{% include 'blog/bot.html' %}
{% endblock guest %}